ipdb
#git-of-theseus
pytest
pytest-cov
pytest-html
pytest-profiling
#psycopg2
#snakeviz
restructuredtext_lint
sphinx
sphinx_rtd_theme
sphinxcontrib-napoleon
sphinx-argparse
#recommonmark
setuptools-scm
twine
black
flake8
pyflakes
pylint
gprof2dot
python-digitalocean
fastentrypoints
flit
